/*!
 * Uniform v0.0.1 (https://github.com/tristanjarrett/uniform/)
 * License: MIT
 * Author: Tristan Jarrett (https://github.com/tristanjarrett/)
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

body {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #404040;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }
  p:last-child {
    margin-bottom: 0; }

hr {
  margin: 1.5rem 0;
  border: 0;
  border-top: solid 1px #e1e1e1; }

ul.list-unstyled,
ol.list-unstyled {
  margin: 0;
  padding: 0; }
  ul.list-unstyled li,
  ol.list-unstyled li {
    list-style-type: none; }

a {
  color: #007bff;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: underline;
    color: #0062cc; }

blockquote {
  margin: 0;
  border-left: solid 7px #007bff;
  background-color: #e6f2ff;
  padding: 1rem;
  font-size: 1.1rem; }
  blockquote cite {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: right;
    color: #737373; }

.flex-row {
  display: flex;
  flex-wrap: wrap; }

.flex-col {
  display: flex; }

.flex-item {
  width: 100%; }

.container-xs, .container-sm, .container-md, .container-lg, .container-full {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.container-xs {
  max-width: 600px; }

.container-sm {
  max-width: 800px; }

.container-md {
  max-width: 1000px; }

.container-lg {
  max-width: 1200px; }

.container-full {
  max-width: 100%; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }

.row-reverse {
  flex-direction: row-reverse; }

.col-reverse {
  flex-direction: column-reverse; }

.col,
.col-auto,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.col-auto {
  width: auto;
  max-width: none; }

.col-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; }

.col-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }

.col-3 {
  flex-basis: 25%;
  max-width: 25%; }

.col-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }

.col-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }

.col-6 {
  flex-basis: 50%;
  max-width: 50%; }

.col-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }

.col-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }

.col-9 {
  flex-basis: 75%;
  max-width: 75%; }

.col-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }

.col-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }

.col-12 {
  flex-basis: 100%;
  max-width: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.33333333%; }

.col-offset-2 {
  margin-left: 16.66666667%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33333333%; }

.col-offset-5 {
  margin-left: 41.66666667%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33333333%; }

.col-offset-8 {
  margin-left: 66.66666667%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33333333%; }

.col-offset-11 {
  margin-left: 91.66666667%; }

.button-sm, .button-md, .button-lg {
  border-radius: 0.25rem;
  text-decoration: none;
  display: inline-block; }

.button-sm:hover, .button-md:hover, .button-lg:hover {
  text-decoration: none; }

.button-sm {
  padding: 0.50rem 1rem;
  font-size: 0.85rem; }

.button-md {
  padding: 0.75rem 1.25rem;
  font-size: 1rem; }

.button-lg {
  padding: 1rem 1.50rem;
  font-size: 1.15rem; }

.button-primary {
  background-color: #007bff;
  color: #ffffff;
  border: solid 1px #007bff; }
  .button-primary:hover {
    color: #ffffff;
    background-color: #0062cc;
    border: solid 1px #0062cc; }

.button-primary-outline {
  background-color: none;
  color: #007bff;
  border: solid 1px #007bff; }
  .button-primary-outline:hover {
    color: #ffffff;
    background-color: #0062cc;
    border: solid 1px #0062cc; }

.button-secondary {
  background-color: #e8e9ec;
  color: #404040;
  border: solid 1px #e8e9ec; }
  .button-secondary:hover {
    color: #404040;
    background-color: #ccced5;
    border: solid 1px #ccced5; }

.button-secondary-outline {
  background-color: none;
  color: #e8e9ec;
  border: solid 1px #e8e9ec; }
  .button-secondary-outline:hover {
    color: #404040;
    background-color: #ccced5;
    border: solid 1px #ccced5; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.underline {
  text-decoration: underline; }

.bold {
  font-weight: bold; }

.border {
  border: solid 1px #e1e1e1; }

.border-top {
  border-top: solid 1px #e1e1e1; }

.border-bottom {
  border-bottom: solid 1px #e1e1e1; }

.border-left {
  border-left: solid 1px #e1e1e1; }

.border-right {
  border-right: solid 1px #e1e1e1; }

.p-0 {
  padding: 0; }

.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.pl-0 {
  padding-left: 0; }

.pl-1 {
  padding-left: 1rem; }

.pl-2 {
  padding-left: 2rem; }

.pl-3 {
  padding-left: 3rem; }

.pr-0 {
  padding-right: 0; }

.pr-1 {
  padding-right: 1rem; }

.pr-2 {
  padding-right: 2rem; }

.pr-3 {
  padding-right: 3rem; }

.pt-0 {
  padding-top: 0; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pb-0 {
  padding-bottom: 0; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pb-3 {
  padding-bottom: 3rem; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.px-0 {
  padding-left: 0;
  padding-right: 0; }

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem; }

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem; }

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem; }

.m-0 {
  margin: 0; }

.m-1 {
  margin: 1rem; }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 3rem; }

.ml-0 {
  margin-left: 0; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 3rem; }

.mr-0 {
  margin-right: 0; }

.mr-1 {
  margin-right: 1rem; }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 3rem; }

.mt-0 {
  margin-top: 0; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mx-0 {
  margin-left: 0;
  margin-right: 0; }

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem; }

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem; }

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  background-color: #ffffff; }

th,
td {
  text-align: left;
  padding: 0.75rem; }

thead th {
  border-bottom: solid 2px #e1e1e1; }

tfoot th {
  border-top: solid 2px #e1e1e1; }

td {
  border-bottom: solid 1px #e1e1e1; }

.table-striped tbody tr:nth-child(odd) {
  background-color: #f2f2f2; }

.table-flush th,
.table-flush td {
  padding: 0.75rem 0; }

.table-bordered {
  border: solid 1px #e1e1e1; }
  .table-bordered th,
  .table-bordered td {
    border-right: solid 1px #e1e1e1;
    padding: 0.75rem !important; }
    .table-bordered th:last-child,
    .table-bordered td:last-child {
      border-right: none; }

.table-bordered-x th,
.table-bordered-x td {
  border-right: solid 1px #e1e1e1;
  padding: 0.75rem !important; }
  .table-bordered-x th:last-child,
  .table-bordered-x td:last-child {
    border-right: none; }

.table-bordered-y thead th {
  border-top: solid 1px #e1e1e1; }
.table-bordered-y tfoot th {
  border-bottom: solid 1px #e1e1e1; }

.table-scroll {
  overflow-x: auto; }

/*# sourceMappingURL=uniform.css.map */
