// Button Base

%button {
  border-radius: $button-radius;
  text-decoration: none;
  display: inline-block;
  line-height: normal;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

// Button Size

.button-sm {
  @extend %button;
  padding: .25rem .5rem;
  font-size: 0.85rem;
}

.button-md {
  @extend %button;
  padding: .5rem .75rem;
  font-size: 1rem;
}

.button-lg {
  @extend %button;
  padding: .75rem 1rem;
  font-size: 1.15rem;
}

// Button Styles

.button-primary {
  background-color: $color-primary;
  color: $text-light;
  border: solid $button-border-width $color-primary;
  &:hover,
  &:active,
  &:focus {
    color: $text-light;
    background-color: darken($color-primary, 10%);
    border: solid $button-border-width darken($color-primary, 10%);
  }
}

.button-primary-outline {
  background-color: none;
  color: $color-primary;
  border: solid $button-border-width $color-primary;
  &:hover,
  &:active,
  &:focus {
    color: $color-primary;
    background-color: lighten($color-primary, 45%);
    border: solid $button-border-width $color-primary;
  }
}

.button-secondary {
  background-color: $color-secondary;
  color: $text-dark;
  border: solid $button-border-width $color-secondary;
  &:hover,
  &:active,
  &:focus {
    color: $text-dark;
    background-color: darken($color-secondary, 10%);
    border: solid $button-border-width darken($color-secondary, 10%);
  }
}

.button-secondary-outline {
  background-color: none;
  color: $color-secondary;
  border: solid $button-border-width $color-secondary;
  &:hover,
  &:active,
  &:focus {
    color: $color-secondary;
    background-color: lighten($color-secondary, 45%);
    border: solid $button-border-width $color-secondary;
  }
}
