// Floats

.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}

// Display

.d-block {
  display: block !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-inline {
  display: inline !important;
}
.d-flex {
  display: flex !important;
}

// Text

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

// Typography

.underline {
  text-decoration: underline !important;
}
.bold {
  font-weight: bold !important;
}

// Borders

.border {
  border: $border !important;
}
.border-top {
  border-top: $border !important;
}
.border-bottom {
  border-bottom: $border !important;
}
.border-left {
  border-left: $border !important;
}
.border-right {
  border-right: $border !important;
}

// Padding

// All
.p-0 {
  padding: $padding-0 !important;
}
.p-1 {
  padding: $padding-1 !important;
}
.p-2 {
  padding: $padding-2 !important;
}
.p-3 {
  padding: $padding-3 !important;
}

// Left
.pl-0 {
  padding-left: $padding-0 !important;
}
.pl-1 {
  padding-left: $padding-1 !important;
}
.pl-2 {
  padding-left: $padding-2 !important;
}
.pl-3 {
  padding-left: $padding-3 !important;
}

// Right
.pr-0 {
  padding-right: $padding-0 !important;
}
.pr-1 {
  padding-right: $padding-1 !important;
}
.pr-2 {
  padding-right: $padding-2 !important;
}
.pr-3 {
  padding-right: $padding-3 !important;
}

// Top
.pt-0 {
  padding-top: $padding-0 !important;
}
.pt-1 {
  padding-top: $padding-1 !important;
}
.pt-2 {
  padding-top: $padding-2 !important;
}
.pt-3 {
  padding-top: $padding-3 !important;
}

// Bottom
.pb-0 {
  padding-bottom: $padding-0 !important;
}
.pb-1 {
  padding-bottom: $padding-1 !important;
}
.pb-2 {
  padding-bottom: $padding-2 !important;
}
.pb-3 {
  padding-bottom: $padding-3 !important;
}

// Y-axis
.py-0 {
  padding-top: $padding-0 !important;
  padding-bottom: $padding-0 !important;
}
.py-1 {
  padding-top: $padding-1 !important;
  padding-bottom: $padding-1 !important;
}
.py-2 {
  padding-top: $padding-2 !important;
  padding-bottom: $padding-2 !important;
}
.py-3 {
  padding-top: $padding-3 !important;
  padding-bottom: $padding-3 !important;
}

// X-axis
.px-0 {
  padding-left: $padding-0 !important;
  padding-right: $padding-0 !important;
}
.px-1 {
  padding-left: $padding-1 !important;
  padding-right: $padding-1 !important;
}
.px-2 {
  padding-left: $padding-2 !important;
  padding-right: $padding-2 !important;
}
.px-3 {
  padding-left: $padding-3 !important;
  padding-right: $padding-3 !important;
}

// Margin

// All
.m-0 {
  margin: $margin-0 !important;
}
.m-1 {
  margin: $margin-1 !important;
}
.m-2 {
  margin: $margin-2 !important;
}
.m-3 {
  margin: $margin-3 !important;
}

// Left
.ml-0 {
  margin-left: $margin-0 !important;
}
.ml-1 {
  margin-left: $margin-1 !important;
}
.ml-2 {
  margin-left: $margin-2 !important;
}
.ml-3 {
  margin-left: $margin-3 !important;
}

// Right
.mr-0 {
  margin-right: $margin-0 !important;
}
.mr-1 {
  margin-right: $margin-1 !important;
}
.mr-2 {
  margin-right: $margin-2 !important;
}
.mr-3 {
  margin-right: $margin-3 !important;
}

// Top
.mt-0 {
  margin-top: $margin-0 !important;
}
.mt-1 {
  margin-top: $margin-1 !important;
}
.mt-2 {
  margin-top: $margin-2 !important;
}
.mt-3 {
  margin-top: $margin-3 !important;
}

// Bottom
.mb-0 {
  margin-bottom: $margin-0 !important;
}
.mb-1 {
  margin-bottom: $margin-1 !important;
}
.mb-2 {
  margin-bottom: $margin-2 !important;
}
.mb-3 {
  margin-bottom: $margin-3 !important;
}

// Y-axis
.my-0 {
  margin-top: $margin-0 !important;
  margin-bottom: $margin-0 !important;
}
.my-1 {
  margin-top: $margin-1 !important;
  margin-bottom: $margin-1 !important;
}
.my-2 {
  margin-top: $margin-2 !important;
  margin-bottom: $margin-2 !important;
}
.my-3 {
  margin-top: $margin-3 !important;
  margin-bottom: $margin-3 !important;
}

// X-axis
.mx-0 {
  margin-left: $margin-0 !important;
  margin-right: $margin-0 !important;
}
.mx-1 {
  margin-left: $margin-1 !important;
  margin-right: $margin-1 !important;
}
.mx-2 {
  margin-left: $margin-2 !important;
  margin-right: $margin-2 !important;
}
.mx-3 {
  margin-left: $margin-3 !important;
  margin-right: $margin-3 !important;
}
