<footer class="global_footer">
  <div class="container-sm">
    <span>Made by <a href="{{ site.url }}">@{{ site.data.options.username }}</a>, inspired by <a href="https://www.taniarascia.com" target="_blank">@taniarascia</a></span>
  </div>
</footer>

<script type="text/javascript">
  var scrollPosition = window.scrollY;
  var navBar = document.getElementById('navScroll');

  window.addEventListener('scroll', function() {

    scrollPosition = window.scrollY;

    if (scrollPosition >= 1) {
      navBar.classList.add('scroll');
    } else {
      navBar.classList.remove('scroll');
    }

  });
</script>
