<header class="global_header">

  {%- if page.layout == "post" -%}
    <div class="progress_container">
      <div class="progress_bar" id="progressBar"></div>
    </div>
  {%- elsif page.layout == "snippet" -%}
    <div class="progress_container">
      <div class="progress_bar" id="progressBar"></div>
    </div>
  {%- else -%}
    <!-- Don't display -->
  {%- endif -%}

  <div class="container-sm">

    <div class="global_nav">

      <a href="{{ site.url }}" class="brand">
        <img src="/assets/images/diploma.svg" alt="" class="logo">
        <span class="text">@{{ site.data.options.username }}</span>
      </a>

      <nav>
        <ul class="menu">
          <li><a href="/articles/">Articles</a></li>
          <li><a href="/biography/">Biography</a></li>
          <li><a href="/portfolio/">Portfolio</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </nav>

    </div>

  </div>

</header>
