<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ site.data.options.keywords }}">
  <title>
    {%- if page.layout == "post" -%}
      {{ page.title }} – {{ site.title }}
    {%- elsif page.layout == "page" -%}
      {{ page.title }} – {{ site.title }}
    {%- elsif page.layout == "snippet" -%}
      {{ page.title }} – {{ site.title }}
    {%- elsif page.layout == "error" -%}
      {{ page.title }} – {{ site.title }}
    {%- else -%}
      {{ site.title }} – {{ site.description }}
    {%- endif -%}
  </title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
