<header class="global_header">
  <div class="small-container">

    <div class="flex-row">

      <div class="flex-small">
        <a href="{{ site.url }}" class="logo">
          <img src="/assets/img/logo.png" alt="" height="40px">
        </a>
      </div>

      <div class="flex-small">
        <nav>
          <ul>
            <li><a href="/about/">About</a></li>
            <li><a href="https://ko-fi.com/tristanjarrett" target="_blank" class="button muted-button">Donate</a></li>
          </ul>
        </nav>
      </div>

    </div>

  </div>
</header>
