<header class="global_header" id="navScroll">

  <div class="container-sm">

    <div class="global_nav">

      <a href="{{ site.url }}" class="brand">
        <img src="/assets/images/rocket.png" alt="" class="logo">
        <span class="text">@{{ site.data.options.username }}</span>
      </a>

      <nav>
        <ul class="menu">
          <li><a href="/articles/">Articles</a></li>
          <li><a href="/biography/">Biography</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </nav>

      <span class="links">
        <a href="https://ko-fi.com/tristanjarrett" target="_blank" class="button-md button-primary-outline">Donate</a>
      </span>

    </div>

  </div>

</header>
