<header class="home_header">

  <div class="">

    <div class="home_nav">
      
      <div class="brand">
        <div class="logo">
          <img src="/assets/images/paint-brush.svg" alt="" class="logo">
        </div>
        <div>
          <div class="text">{{ site.username }}</div>
          <span>{{ site.description }}</span>
        </div>
      </div>

      <nav>
        <ul class="menu">
          <li><a href="/articles/">Articles</a></li>
          <li><a href="/snippets/">Snippets</a></li>
          <li><a href="/gallery/">Gallery</a></li>
        </ul>

        <ul class="social">
          <li><a href="https://github.com/{{ site.data.options.github-user }}" target="_blank"><img src="/assets/images/github-character.svg" alt="Github"></a></li>
          <li><a href="https://www.linkedin.com/in/{{ site.data.options.linkedin-user }}" target="_blank"><img src="/assets/images/linkedin-sign.svg" alt="LinkedIn"></a></li>
        </ul>
      </nav>

    </div>

  </div>

</header>
