<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>

<script>
  // change header padding on scroll
  $(window).scroll(function(){
    if ($(this).scrollTop() > 20) {
      $('#navScroll').addClass('scroll');
    } else {
      $('#navScroll').removeClass('scroll');
    }
  });

  // resize body margen to account for fixed header height
  $(window).resize(function() {
    $(document.body).css("margin-top", $(".global_header").height());
  }).resize();
</script>

<script>
  // animate progress bar on scroll
  window.onscroll = function() {myFunction()};

  function myFunction() {
    var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    var scrolled = (winScroll / height) * 100;
    document.getElementById("progressBar").style.width = scrolled + "%";
  }
</script>
