/**
 * Base
 */

// variables
$bg-color: rgb(34,193,195);
$bg-gradient: linear-gradient(130deg, rgba(34,193,195,1) 0%, rgba(135,190,126,1) 35%, rgba(181,189,95,1) 65%, rgba(253,187,45,1) 100%);

body {
  margin-top: 83px; // jQuery failover for fixed header (value is a rough estimate of header height)
  font-size: 18px;
  color: #333;
}

// Lists
ul.list-unstyled,
ol.list-unstyled {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

ul.list-inline,
ol.list-inline {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    display: inline-block;
  }
}
