/**
 * Base
 */

::selection,
::-moz-selection {
  background: $primary-color;
  color: #ffffff;
}

body {
  font-family: sans-serif !important;
  margin-top: 100px; // pre-jquery placeholder for fixed header (100px is rough header size)
  font-size: 18px;
  color: #333;
}

// Lists
ul.list-unstyled,
ol.list-unstyled {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

ul.list-inline,
ol.list-inline {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    display: inline-block;
  }
}
