/**
 * Extends
 */

%section_title {
  margin-bottom: 1.25rem;
  padding-bottom: .75rem;
  border-bottom: solid 2px $border-color;
}

%list_layout {
  ul {
    li {
      border-bottom: solid 1px $border-color;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      a {
        font-size: 1.15rem;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
