/**
 * Header
 */

.global_header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, .98);
  box-shadow: 1px 2px 30px rgba(0, 0, 0, .1);

  .progress_container {
    position: absolute;
    width: 100%;
    background: transparent;
    top: 0;
    .progress_bar {
      height: 3px;
      background-color: $color-secondary;
      width: 0%;
      max-width: 100%;
    }
  }

  .global_nav {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 1.2rem 0;
  }

  .brand,
  .menu {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }

  a.brand {
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
    .logo {
      height: 35px;
      width: auto;
      margin-right: 1rem;
    }
    .text {
      color: #999;
      font-family: 'VT323', monospace !important;
      font-size: 22px;
      text-transform: lowercase;
      &:before {
        content: "</";
      }
      &:after {
        content: ">";
      }
      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  nav {
    ul.menu {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        display: inline-block;
        a {
          color: #999;
          margin-left: 1rem;
          &:hover {
            color: #555;
            text-decoration: none;
          }
        }
      }
    }
  }

}
