/**
 * Header
 */

.dev_notice {
  padding: 1rem 0;
  background-color: $color-primary;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.scroll {
  padding: 1rem 0 !important;
  border-bottom: 1px solid #f7f7f7;
  box-shadow: 1px 2px 10px rgba(0,0,0,.03);
  position: sticky;
  top: 0;
}

.global_header {
  padding: 2rem 0;
  background-color: #ffffff;
  border-bottom: 1px solid #f7f7f7;
  box-shadow: 1px 2px 10px rgba(0,0,0,.03);

  .global_nav {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
  }

  .brand,
  .menu,
  .links {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }

  a.brand {
    color: #777777;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
    .logo {
      height: 35px;
      width: auto;
      margin-right: .5rem;
    }
    .text {
      font-size: 1.2rem;
    }
  }

  nav {
    ul.menu {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        display: inline-block;
        margin: 0 1rem;
        a {
          color: #999;
          &:hover {
            color: #555;
            text-decoration: none;
          }
        }
      }
    }
  }

  span.links {

  }

}
