/**
 * Home
 */
.template_home {
  %list_layout {
    ul {
      li {
        font-size: 1.20rem;
        a {
          display: block;
          padding: .75rem 1rem;
          margin: 0 -1rem;
          border: 2px solid transparent;
          border-radius: .25rem;
          color: #777 !important;
          &:hover {
            border: 2px solid $color-primary;
            text-decoration: none;
            background-color: lighten($color-primary, 45%);
            color: #000 !important;
          }
        }
      }
    }
  }
  padding: 1rem 0;
  .posts_section {
    @extend %list_layout;
  }
  .projcts_section {
    @extend %list_layout;
  }
}
