/**
 * Home
 */
.page_index {

  %my_list {
    .title {
      color: #555;
    }
    ul {
      li {
        margin-bottom: 1rem;
        a {
          display: block;
        }
      }
    }
  }

  .intro_section {
    padding-top: 2.5rem;
    margin-bottom: 2.5rem;

  }

  .posts_section {
    margin-bottom: 2.5rem;
    @extend %my_list;
  }

  .snippets_section {
    margin-bottom: 2.5rem;
    @extend %my_list;
  }

}
