/**
 * Home
 */
.page_index {

  .intro_section {
    padding: 2.5rem 0;
    background-color: #19e68c;
    .intro_title {
      color: #fff;
      line-height: normal !important;
    }
    .intro_text {
      color: #fff;
      line-height: normal !important;
    }
  }

  .posts_section {
    margin-bottom: 2.5rem;
    .title {
      @extend %section_title;
    }
    @extend %list_layout;
  }

  .projcts_section {
    margin-bottom: 2.5rem;
    .title {
      @extend %section_title;
    }

    ul {
      li {
        border-bottom: solid 1px $border-color;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }

        .project_head {
          margin-bottom: .75rem;
          .name {
            font-weight: bold;
          }
          .link {
            font-weight: bold;
          }
        }

        .description {
          color: #999;
        }
      }
    }

  }

}
