/**
 * Home
 */
.page_index {
  line-height: normal !important;

  .intro {
    padding: 2.5rem 0;
    background-color: $color-secondary;
    color: #fff;
  }

  .content {
    padding: 2.5rem 0;

    .posts_section {
      margin-bottom: 2.5rem;

      .title {
        color: #555;
        border-bottom: solid 1px $border-color;
        padding-bottom: .75rem;
      }
      ul {
        li {
          margin-bottom: 1rem;
          .item {
            margin: 0;
          }
        }
      }
    }

    .snippets_section {
      margin-bottom: 2.5rem;

      .title {
        color: #555;
        border-bottom: solid 1px $border-color;
        padding-bottom: .75rem;
      }
      ul {
        li {
          margin-bottom: 1rem;
          .item {
            margin: 0;
          }
        }
      }
    }

    .projcts_section {

      .title {
        color: #555;
        border-bottom: solid 1px $border-color;
        padding-bottom: .75rem;
      }

      ul {
        li {
          border-bottom: solid 1px $border-color;
          padding-bottom: 1rem;
          margin-bottom: 1rem;
          &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
          }

          .project_head {
            margin-bottom: .75rem;

            .name {
              font-weight: bold;
            }

            .link {
              font-weight: bold;
            }
          }

          .description {
            color: #999;
          }
        }
      }

    }
  }

}
