// Colors

$color-primary: #007bff;
$color-primary-hover: darken($color-primary, 10%);
$color-secondary: #404040;
$color-secondary-hover: darken($color-secondary, 10%);

$background-primary: #ffffff;
$background-secondary: #fafafa;

$text-dark: #404040;
$text-light: #ffffff;

$button-text-primary: $text-light;
$button-text-secondary: $text-dark;

$border-color: #e1e1e1;

$blockquote-theme: $color-primary;

$table-color: #ffffff;

// General Typography

$font-family: sans-serif;
$font-size: 1rem;
$font-weight: normal;

$h1-size: 2.50rem;
$h2-size: 2.25rem;
$h3-size: 2rem;
$h4-size: 1.75rem;
$h5-size: 1.50rem;
$h6-size: 1.25rem;

// Gutters

$gutter-width: 1rem;

// General Margins

$margin-0: 0;
$margin-1: 1rem;
$margin-2: 2rem;
$margin-3: 3rem;

// General Padding

$padding-0: 0;
$padding-1: 1rem;
$padding-2: 2rem;
$padding-3: 3rem;

// Screen Width

$width-lg: 1200px;
$width-md: 1000px;
$width-sm: 800px;
$width-xs: 600px;

// Buttons

$button-radius: .25rem;

// Borders

$border: solid 1px $border-color;

// Blockquotes

$blockquote-border: solid 7px $blockquote-theme;
$blockquote-background: lighten($blockquote-theme, 45%);

// Tables

$table-padding: .75rem;
