// Button Base

%button {
  border-radius: $button-radius;
  text-decoration: none;
  display: inline-block;
}

%button-hover {
  text-decoration: none;
}

// Button Size

.button-sm {
  @extend %button;
  padding: 0.50rem 1rem;
  font-size: 0.85rem;
  &:hover {
    @extend %button-hover;
  }
}

.button-md {
  @extend %button;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  &:hover {
    @extend %button-hover;
  }
}

.button-lg {
  @extend %button;
  padding: 1rem 1.50rem;
  font-size: 1.15rem;
  &:hover {
    @extend %button-hover;
  }
}

// Button Styles

.button-primary {
  background-color: $color-primary;
  color: $button-text-primary;
  border: solid 1px $color-primary;
  &:hover {
    color: $button-text-primary;
    background-color: $color-primary-hover;
    border: solid 1px $color-primary-hover;
  }
}

.button-primary-outline {
  background-color: none;
  color: $color-primary;
  border: solid 1px $color-primary;
  &:hover {
    color: $button-text-primary;
    background-color: $color-primary-hover;
    border: solid 1px $color-primary-hover;
  }
}

.button-secondary {
  background-color: $color-secondary;
  color: $button-text-secondary;
  border: solid 1px $color-secondary;
  &:hover {
    color: $button-text-secondary;
    background-color: $color-secondary-hover;
    border: solid 1px $color-secondary-hover;
  }
}

.button-secondary-outline {
  background-color: none;
  color: $color-secondary;
  border: solid 1px $color-secondary;
  &:hover {
    color: $button-text-secondary;
    background-color: $color-secondary-hover;
    border: solid 1px $color-secondary-hover;
  }
}
