/**
 * Home
 */
.template_home {
  %list_layout {
    ul {
      li {
        a {
          display: block;
          padding: .75rem 0;
          border: 2px solid transparent;
          border-radius: .25rem;
          transition: .3s ease;
          &:hover {
            border: 2px solid $color-primary;
            padding: .75rem 1rem;
            text-decoration: none;
            background-color: lighten($color-primary, 45%);
          }
        }
      }
    }
  }
  padding: 1rem 0;
  .posts_section {
    @extend %list_layout;
  }
  .projcts_section {
    ul {
      li {
        justify-content: space-between;
        -webkit-justify-content: space-between;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        margin-bottom: 1rem;
      }
    }
  }
}
