/**
 * Home
 */
.template_home {
  padding: 1rem 0;

  .posts_section {
    .title {
      @extend %section_title;
    }
    @extend %list_layout;
  }

  .projcts_section {
    .title {
      @extend %section_title;
    }
    @extend %inline_grid_three;
    .name {
      font-weight: bold;
    }
    .description {
      color: #999;
    }
    .links {

    }
  }

}
