/**
 * Home
 */
.template_home {
  padding: 1rem 0;

  .posts_section {
    .title {
      @extend %section_title;
    }
    @extend %list_layout;
  }

  .projcts_section {
    .title {
      @extend %section_title;
    }

    ul {
      li {
        border-bottom: solid 1px $border-color;
        padding: 1.5rem 0;

        .project_head {
          margin-bottom: .75rem;
          .name {
            font-weight: bold;
          }
          .link {

          }
        }

        .description {
          color: #999;
        }
      }
    }

  }

}
