/**
 * Post
 */
.template_post {
  padding: 1.5rem 0;

  article {
    margin-bottom: 2rem;
  }

  .post_meta {
    color: #999;
    margin-bottom: 1rem;
  }

  .post_categories {
    a.tag {
      background-color: #E1ECF4;
      padding: .3rem .5rem;
      display: inline-block;
      font-size: .85rem;
    }
  }
  
}
