/**
 * Post
 */
.template_post {
  padding-top: 1.5rem;

  article {
    margin-bottom: 2rem;
  }

  .post_meta {
    color: #999;
    margin-bottom: 1rem;
  }
  .post_categories {
    a.tag {
      background-color: #E1ECF4;
      padding: .3rem .5rem;
      display: inline-block;
      font-size: .85rem;
    }
  }
  .disqus {
    padding: 1rem 0;
    background-color: #f7f7f9;
  }
}
