/**
 * Post
 */
.template_post {
  padding: 1rem 0;
  .post_title {

  }
  .post_meta {
    color: #999;
    margin-bottom: .5rem;
  }
  .post_categories {
    li {
      list-style-type: none;
      display: inline-block;
      &:after {
        content: ",";
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
}
