/**
 * Snippet
 */
.template_snippet {
  padding: 1rem 0;
  .snippet_title {

  }
  .snippet_meta {
    color: #999;
    margin-bottom: .5rem;
  }
  .snippet_categories {
    a {
      background-color: #f5f5f5;
    }
  }
}
