/**
 * Snippet
 */
.template_snippet {
  padding-top: 1.5rem;

  .snippet_meta {
    color: #999;
    margin-bottom: .5rem;
  }
  .snippet_categories {
    a.tag {
      background-color: #E1ECF4;
      padding: .1rem .3rem;
      display: inline-block;
      font-size: .85rem;
    }
  }
}
