---
layout: default
---

<main class="template_home">
  <div class="container-sm">

    {%- if page.title -%}
      <h1>{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <div class="posts_section">
      <h3>Posts</h3>
      <ul class="list-unstyled">
        {%- for post in site.posts -%}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
        {%- endfor -%}
      </ul>
    </div>

    <div class="projcts_section">
      <h3>Projects</h3>
      <ul class="list-unstyled">
        <li>
          <a href="https://github.com/tristanjarrett/uniform">Unifrom UI</a>
        </li>
      </ul>
    </div>

  </div>
</main>
