---
layout: default
---

<main class="template_home">
  <div class="container-sm">

    <div class="intro_section">
      <h4>Hi there, I'm Tristan. I enjoy coding. Here's a quick intro.</h4>
      <p>I'm a Software Developer, Car Enthusiast & Coffeeholic. I created this site to document everything I learn from coding to troubleshooting, I also want to improve my writing skills and what a better way than to practice. I enjoy travelling the world and might share some of those experiences too.</p>
    </div>

    <div class="posts_section">
      <h4 class="title">Latest Articles</h4>
      <ul class="list-unstyled">
      {%- for post in site.posts -%}
        <li>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </li>
      {%- endfor -%}
      </ul>
    </div>

    <div class="projcts_section">
      <h4 class="title">Current Projects</h4>
      <ul class="list-unstyled">
      {% for project in site.data.projects %}
        <li>
          <span>{{ project.name }}</span>
          <span>{{ project.description }}</span>
          <span>
            <a href="{{ project.project-url }}" class="button-sm button-primary-outline">Project</a>
            <a href="{{ project.source-url }}" class="button-sm button-secondary-outline">Source</a>
          </span>
        </li>
      {% endfor %}
      </ul>
    </div>

  </div>
</main>
