---
layout: default
---

<main class="template_post">

  <div class="container-sm">

    <header>
      <h1 class="post_title">{{ page.title }}</h1>
      <div class="post_meta mb-1">
        <span>Posted {{ page.date | date: "%d %B %Y" | escape }} / <a href="{{ site.data.options.repo-url }}/blob/{{ site.data.options.repo-branch }}/{{ page.path }}">Edit</a></span>
      </div>

      <ul class="post_categories list-inline">
        {% for category in page.categories %}
          <li><a href="#{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}" class="button-sm button-secondary-outline">{{ category | camelcase }}</a></li>
        {% endfor %}
      </ul>

      <hr>
    </header>

    {{ content }}

  </div>

</main>
