---
layout: default
---

<main class="template_post">

  <article class="container-sm">

    <header>
      <h1 class="post_title">{{ page.title }}</h1>

      <div class="post_meta">
        <time>Posted {{ page.date | date: "%d %B %Y" | escape }}</time>
        <span> / <a href="{{ site.data.options.repo-url }}/blob/{{ site.data.options.repo-branch }}/{{ page.path }}">Edit</a></span>
      </div>

      <div class="post_categories list-inline">
        {% for tag in page.tags %}
          <!-- <li><a href="/tags/{{ tag | downcase | downcase | url_escape | strip | replace: ' ', '-' }}/">{{ tag | camelcase }}</a></li> -->
          <a href="#" class="button-sm button-secondary-outline">{{ tag | camelcase }}</a>
        {% endfor %}
      </div>

      <hr>
    </header>

    {{ content }}

  </article>

</main>
