---
layout: default
---

<main class="template_snippet">

  <article class="container-sm">

    <header>
      <h1 class="snippet_title">{{ page.title }}</h1>

      <div class="snippet_meta">
        <time>Posted {{ page.date | date: "%d %B %Y" | escape }}</time>
        <span> / <a href="{{ site.data.options.repo-url }}/blob/{{ site.data.options.repo-branch }}/{{ page.path }}">Edit</a></span>
      </div>

      <div class="snippet_categories list-inline">
        <span>Tags: </span>
        {% for tag in page.tags %}
          <!-- <li><a href="/tags/{{ tag | downcase | downcase | url_escape | strip | replace: ' ', '-' }}/">{{ tag | camelcase }}</a></li> -->
          <span>#{{ tag | downcase }}</span>
        {% endfor %}
      </div>

      <hr>
    </header>

    {{ content }}

  </article>

  <div class="disqus">
    <div class="container-sm">
      {% if page.comments %}
        {% include disqus.html %}
      {% endif %}
    </div>
  </div>

</main>
